body{
    background-color:#F8F4EA;
}

hr{
    border-style: none;
    border-top-style: dashed;
    border-color: midnightblue;
    border-width: 3px;
    width: 100%;
}

h3{
    color: #1A4D2E;
}

label {
    display: inline-block;
    width:120px;
    text-align: left;
}

#heading {
    color: darkred;
    font-size: 40px;
    text-align: center;
}

.pfp {
    width:33%;
    float:left;
    text-align: center;
    padding: 0px 50px;
    box-sizing: border-box;
}

.pfp img {
    width: 300px;
    height: 300px;
    background-color: #F8F4EA;
    border-radius: 30%;
}

.pfp img:hover{
    background-color: rgb(17, 13, 65);
}